@media (max-width: 767.98px) {

    body {
        margin: 0.06rem;
    }

    body header {
        margin: 1rem 1rem 0 1rem;
    }
    
    body header nav {
        flex-wrap: wrap;
    }

    /*--Menu principal--*/

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        width: 100vw;
        margin-top: -3rem;
    }

    body header nav div input {
        width: 50%;
        border-bottom: 0.125rem  #F2F2F2 solid;
    }

    body header nav div input:hover {
        border-bottom: 0.125rem #0065FC solid;
    }

    .inscrire {
        width: 25vw;
        color:#0065FC;
        border: none;
        font-weight: bold;
    }

    .inscrire:hover {
        border: none;
    }

    /*--Bloc recherche--*/

    .searchtool {
        justify-content: center;
    }

    i.fa-search {
        background-color: #0065FC;
        color: white;
        border-radius: 0.7rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-left: -1rem;
    }

    i ~ input {
        display: none;
    }

    .search {
        display: flex;
        width: 80vw;
    }

    /*--Bloc filtres--*/
    
    .filter p {
        width: 100vw;
        margin-left: 1rem;
    }

    .info {
        margin-left: 0.5rem;
    }

    /*--Bloc les plus populaire--*/

    body main article aside img {
        height: 10rem;
        width: 40vw;
    }

    .description {
        width: 40vw;
    }

    /*--Bloc hébergement--*/

    body main article section {
        padding: 0 1rem 1rem 1rem;
    }

    h2 {
        margin-top: 2rem;
    }

    body main section div img {
        height: 8rem;
    }

    /*--Bloc activité--*/

    body main section {
        margin: 0 0.5rem 0 0.5rem;
    }

}
