@media (max-width: 767.98px) {

    body header nav {
        flex-wrap: wrap;
    }

    /*--Menu principal--*/

    .menu {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        width: 100vw;
        margin-top: -3rem;
    }

    body header nav input {
        width: 50%;
        border-bottom: 0.125rem  #F2F2F2 solid;
    }

    body header nav input:hover {
        border-bottom: 0.125rem #0065FC solid;
    }

    .inscrire {
        width: 25vw;
        color:#0065FC;
        border: none;
        font-weight: bold;
    }

    .inscrire:hover {
        border: none;
    }

    /*--Bloc recherche--*/

    .searchtool {
        justify-content: center;
    }

    i.fa-search {
        background-color: #0065FC;
        color: white;
        border-radius: 0.7rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        margin-left: -1rem;
    }

    i ~ input {
        display: none;
    }

    .search {
        display: flex;
        width: 80vw;
    }

    /*--Bloc filtres--*/

    .filter p {
        width: 100vw;
    }

}
