@media (min-width: 768px) {

    body header {
        margin: 0 0.5rem 0 0.5rem;
    }

    body main {
        margin: 0 0.5rem 0 0.5rem;
    }

    /*--Menu principal--*/

    .inscrire {
        color: #0065FC;
        margin-right: 1rem;
        font-weight: bold;
        width: 6rem;
    }

    .inscrire:hover {
        border-top: 0.2rem white solid;
    }

    body header nav div input {
        border-top: 0.2rem white solid;
        width: 10rem;
    }

    body header nav div input:hover {
        border-top: 0.2rem #0065FC solid;
    }

    /*--Bloc recherche--*/

    .search {
        width: 40vw;
    }

    input ~ .fa-search {
        display: none;
    }
    
    body main nav input {
        background-color: #0065FC;
        color: white;
        border-radius: 0 1rem 1rem 0;
        border: none;
        font-size: 1.2rem;
        padding-right: 0.5rem;
    }

    body main nav input:focus {
        outline: none;
    }

    /*--Bloc les plus populaire--*/

    body main article {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    body main article aside {
        border-radius: 1rem;
        width: 30vw;
        padding: 0.5rem;
    }
    
    body main article aside div img {
        height: 10rem;
        width: 15vw;
    }
    
    .description {
        width:100vw;
    }

    /*--Bloc hébergement--*/

    body main article section {
        margin-right: 0.5rem;
        padding: 0 0.5rem 1rem 0.5rem;
        background-color: #f2f2f2;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    body main article section header {
        width: 100%;
        margin-top: 0.7rem;
    }

    .cardh {
        width: 30%;
    }

    /*--Bloc activité--*/

    body main section div img {
        height: 80%;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 5rem);
        grid-auto-rows: auto;
    }

    .one {
        grid-column: 1;
        grid-row: 1/ 7;
    }

    .two {
        grid-column: 2;
        grid-row: 1 / 5;
    }

    .three {
        grid-column: 2;
        grid-row: 5 / 7;
    }

    .four {
        grid-column: 3;
        grid-row: 1 / 7;
    }

    .five {
        grid-column: 4;
        grid-row: 1 / 4;
    }
    .six {
        grid-column: 4;
        grid-row: 4 / 7;
    }

}
