@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif !important;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: white;
    border: none;
    font-size: 1em;
    font-family:'Raleway', sans-serif;
    cursor: pointer;
    padding: 1em;
}

.button:hover{
    color: #0065FC;
}

h1{
    font-size: 1.5em;
}

.iconmap{
    background-color: #F2F2F2;
    border-radius: 0.7em 0 0 0.7em;
    padding: 0.5em;
    font-size: 1.5em;
}

.searchtool{
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5em;
}

.search{
    font-size: 1.2em;
    height: 2.5em;
}