@media (min-width: 768px) {

    .menu {
        display: flex;
        justify-content: space-between;
    }

    .inscrire {
        color: #0065FC;
        margin-right: 1em;
        font-weight: bold;
        width: 6em !important;
    }

    .inscrire:hover {
        border-top: 3px white solid !important;
    }

    .button {
        border-top: 3px white solid;
        width: 10em;
    }

    .button:hover {
        border-top: 3px #0065FC solid;
    }

    .search {
        width: 40%;
    }

    .iconsearch {
        display: none !important;
        }
    
    .research {
        background-color: #0065FC;
        color: white;
        border-radius: 0 1em 1em 0;
        border: none;
        font-size: 1.2em;
        padding-right: 0.5em;
    }

    .research:focus {
        outline: none;
    }

}